<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Add a car to the lot</h1>
        <form action="/newcar" method="post">
            <label for="makeModel">Make and Model</label>
            <input id="makeModel" name="makeModel" type="text">
            <label for="price">Price</label>
            <input id="price" name="price" type="number">
            <label for="miles">Mileage</label>
            <input id="miles" name="miles" type="number">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>